<div class="centered-content">
  <p>בחרו משחק זוגי או חברתי והתחילו לשחק!</p>
</div>

<div class="menu">
  <button class="button button--primary"
    [routerLink]="'/' + routesPaths.truthOrDare"
    appTooltip="משחק עם משימות זוגיות מצחיקות"
    tooltipPosition="bottom"
    [tooltipDelay]="300"
    [tooltipHideDelay]="100"
  >
    אמת או חובה לנשואים+ 🔥
  </button>
  <button class="button button--primary" [routerLink]="'/' + routesPaths.deepQuestions">שאלות עומק לזוגות 💬</button>
  <button class="button button--primary" disabled>משחקי גיבוש לקבוצות (בקרוב) 🎉</button>
  <button class="button button--primary" disabled>משחק הפתקים (בקרוב) 🃏</button>
</div>
