@use 'colors';
@use 'fonts';

.header {
  background-color: colors.$header-bg;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: fonts.$font-primary;
  color: colors.$text-dark;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;

  .logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
      height: 40px;
    }

    .menu-btn {
      font-size: 1.5rem;
      background: none;
      border: none;
      color: colors.$text-dark2;;
      display: none;
      cursor: pointer;

      &:hover {
        color: colors.$primary;
        animation: fadeIn 0.3s ease-in;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    a {
      color: colors.$text-dark2;
      font-weight: bold;

      &:hover {
        color: colors.$primary;
        animation: fadeIn 0.3s ease-in;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    direction: rtl;

    .logo-wrapper {
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;

      .menu-btn {
        display: block;
      }
    }

    .nav {
      display: none;
      width: 100%;
      margin-top: 1rem;

      a {
        padding: 0.5rem 0;
        text-align: right;
      }
    }

    .nav.open {
      display: flex;
      flex-direction: row;
      animation: fadeIn 0.3s ease-in;
    }
  }
}
