<h1>אמת או חובה – לזוגות 🔥</h1>
<div class="score">
  אתה: {{ score1 }} | את: {{ score2 }}
</div>

<div class="buttons">
  <button class="button button--primary" (click)="drawCard('dare')">חובה</button>
  <button class="button button--primary" (click)="drawCard('truth')">אמת</button>
</div>

<div class="card" [ngClass]="currentLevel" *ngIf="currentCard">
  {{ currentCard }}
</div>

<div class="buttons">
  <button class="button button--confirm" (click)="addPoint(1)">+ נקודה לו</button>
  <button class="button button--confirm" (click)="addPoint(2)">+ נקודה לה</button>
</div>

<div class="buttons">
  <button class="button button--outline" (click)="resetGame()">התחל מחדש 🔄</button>
</div>

<app-modal
  *ngIf="showInstructions"
  title="איך משחקים?"
  confirmText="הבנתי, נתחיל!"
  (close)="closeInstructions()"
>
  <p>
    בתורות, כל אחד בוחר אם הוא רוצה לענות על
    <br>
    שאלה (אמת) או לבצע משימה (חובה).
    <br>
    לכל משימה דרגת קושי וניקוד בהתאם.
    <br>
    <br>
    השלימו את האתגר כדי לצבור נקודות.
    <br>
    הראשון להגיע ל-10 נקודות מנצח!
  </p>
</app-modal>

