<section class="hero">
  <div class="text">
    <h1>ערב זוגי מושלם מתחיל במשחק</h1>
    <p>משחקים שיחברו ביניכם, יצחיקו אתכם ויעזרו לכם להעמיק את הקשר – בלי לצאת מהבית.</p>
    <button class="button button--confirm" [routerLink]="routesPaths.games">🎲 התחילו לשחק עכשיו</button>
  </div>
  <img src="assets/open-card-logo.svg" alt="קלף פתוח" class="hero-image" />
</section>

<section id="about" class="about">
  <h2>עלינו</h2>
  <p>
    קלף פתוח נולד מתוך אהבה לחיבורים פשוטים. יצרנו אותו עבור זוגות שמחפשים דרך חדשה, קלילה וכיפית להעמקת הקשר – עם משחקים שמתחילים תוך שניות.
  </p>
</section>

<section class="music">
  <h2>הכניסו קצת קצב לדייט שלכם 🎶</h2>
  <p class="game-name">מוזיקה טובה יוצרת אווירה קסומה. בחרנו עבורכם מיקסים רגועים ומרגיעים שילוו את הדייט שלכם ויעמיקו את הקסם. 💑</p>
  <button class="button button--primary" [routerLink]="routesPaths.music">🎧 השמיעו מוזיקה לדייט</button>
</section>

<section class="sample-game">
  <h2>משחק לדוגמה</h2>
  <p class="game-name">הכירו את "אמת או חובה" – משחק זוגי שובב שיעזור לכם להיפתח, לשבור את הקרח ולגלות דברים חדשים זה על זו.</p>
  <button class="button button--primary" [routerLink]="routesPaths.truthOrDare">🃏 נסו את המשחק</button>
</section>

<section id="contact" class="contact">
  <h2>צרו קשר</h2>
  <p class="contact-p">רוצים לדבר איתנו?</p>
  <a href="mailto:shay.shabshay@gmail.com" target="_blank" class="button button--primary">✉️ שלחו לנו הודעה</a>
</section>
