<section class="hero">
  <div class="text">
    <h1>דייט ביתי מושלם<br> מתחיל במשחק</h1>
    <p>משחקי זוגיות שיעזרו לכם להעמיק את הקשר, <br>לצחוק ולהתקרב – בלי לצאת מהבית</p>
    <button class="button button--confirm" routerLink="/games">תתחילו לשחק עכשיו</button>
  </div>
  <img src="assets/open-card-logo.svg" alt="קלף פתוח" class="hero-image" />
</section>

<section id="about" class="about">
  <h2>אודות</h2>
  <p>
    יצרנו את קלף פתוח עבור זוגות שמחפשים חוויה זוגית כיפית, <br>קרובה ומרעננת – דרך משחקי זוגיות פשוטים שאפשר להתחיל לשחק תוך שניות.
  </p>
</section>

<section class="sample-game">
  <h2>משחק לדוגמה</h2>
  <p class="game-name">הכירו את 'אמת או חובה' – משחק זוגי<br> שובר קרח שיכניס אתכם מיד לאקשן. מתאים לכל שלב של הקשר.</p>
  <button class="button button--primary" routerLink="/truth-or-dare">להתחלת משחק</button>
</section>

<section id="contact" class="contact">
  <h2>צור קשר</h2>
  <a href="mailto:shay.shabshay@gmail.com" target="_blank" class="button button--primary">שלחו הודעה</a>
</section>
