<div class="centered-content">
  <p>מוזיקה לאווירה</p>
</div>

<div class="menu">
  <a href="https://youtu.be/FFvMszeEWTM?si=JKKFomuaDyj9UeMx" target="_blank" class="button button--primary">Late Night R&B</a>
  <a href="https://youtu.be/AKDpDrfPQ0M?si=rJL2cto7EZBI1_Np" target="_blank" class="button button--primary">Late Night Feels</a>
  <a href="https://youtu.be/_H9racWJjtA?si=J6TzkmY39l2-PB6g" target="_blank" class="button button--primary">Chill out Mix</a>
  <a href="https://www.youtube.com/playlist?list=PLinS5uF49IBqELH4C2PIJkHYwaa4V_RRp" target="_blank" class="button button--primary">פלייליסט ישראלי</a>
</div>
