@use './colors' as c;
@use './fonts' as f;
@use 'sass:color';

.button {
  font-family: f.$font-primary;
  border: 2px solid c.$border;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: c.$text-dark;
  transition: background 0.3s ease, color 0.3s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--primary {
    background-color: c.$primary;
    color: c.$text-dark;
    border: none;

    &:hover {
      background-color: color.adjust(c.$primary, $lightness: -5%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid c.$rounded-bg;

    &:hover {
      background-color: c.$rounded-bg;
      color: c.$text-light;
    }
  }

  &--confirm {
    background-color: c.$rounded-bg;
    color: c.$rounded-text;
    border: none;
    transition: background 0.3s ease;

    &:hover {
      background-color: color.adjust(c.$rounded-bg, $lightness: -10%);
    }
  }
}
