@use 'colors';
@use 'fonts';
@use 'sass:color';

.button {
  font-family: fonts.$font-primary;
  border: 2px solid colors.$light-brown;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: colors.$dark-brown2;
  transition: background 0.3s ease, color 0.3s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--primary {
    background-color: colors.$light-pink;
    color: colors.$dark-brown2;
    border: none;

    &:hover {
      background-color: color.adjust(colors.$light-pink, $lightness: -5%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid colors.$dark-pink;

    &:hover {
      background-color: colors.$dark-pink;
      color: colors.$white;
    }
  }

  &--confirm {
    background-color: colors.$dark-pink;
    color: colors.$white;
    border: none;
    transition: background 0.3s ease;

    &:hover {
      background-color: color.adjust(colors.$dark-pink, $lightness: -10%);
    }
  }
}
