$light-pink: #f8d6d3;
$light-beige: #f0eae7;
$very-light-beige: #fff9f6;
$very-light-pink: #fff4f4;
$dark-brown: #562c2c;
$dark-brown2: #4c2c26;
$dark-red: #8b3a4c;
$light-brown: #e6d5d3;
$dark-pink: #c8647b;
$white: #fff;
$green: #7dd87d;
$yellow: #f5cd62;
$red: #d95f5f;
$dark-gray: #444;
$dark-red2: #793f3f;
$light-green: #a3d9a5;
$very-light-green: #f2fff3;
$light-yellow: #f2d28b;
$very-light-yellow: #fffaf0;
$light-red: #f28b82;
