$primary: #f8d6d3;
$secondary: #f0eae7;
$header-bg: #fff9f6;
$page-bg: #fff4f4;
$text-header: #562c2c;
$text-dark: #4c2c26;
$text-dark2: #8b3a4c;
$text-light: #fff;
$border: #e6d5d3;
$rounded-bg: #c8647b;
$rounded-text: #fff;
