@use 'colors';

.page {
  direction: rtl;
  background-color: colors.$page-bg;
  min-height: 70vh;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-top: -1rem;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #562c2c;
  }
}

section {
  padding: 4rem 2rem;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  button {
    background-color: #c8647b;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
  }
}
