@use 'colors';
@use 'fonts';
@use 'buttons';
@use 'layout';
@use 'animations';

body {
  font-family: fonts.$font-primary;
  background-color: colors.$light-beige;
  color: colors.$dark-brown2;
  margin: 1rem;
  padding: 0;
}
