@use './colors' as c;
@use './fonts' as f;
@use './buttons' as b;
@use './layout' as l;

body {
  font-family: f.$font-primary;
  background-color: c.$secondary;
  color: c.$text-dark;
  margin: 1rem;
  padding: 0;
}
