@use 'colors';

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 12px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  animation-duration: 0.3s;
  animation-fill-mode: both;

  &.show {
    animation-name: fadeIn;
  }

  &.hide {
    animation-name: fadeOut;
  }

  h2 {
    color: colors.$text-header;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .close-button {
    margin-top: 14px;
  }
}

.x-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: colors.$rounded-bg;
  cursor: pointer;
  transition: color 0.2s;
  padding: 1px 6px;

  &:hover {
    color: colors.$primary;
  }
}
